		<div class="row">
			<form name="ajoutJson2"> 
				<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-plus-circle"></i> Nouvelle donnée
			</a>
			<div class="collapse" id="collapseExample">
			  <div class="well">
			  <div class="row">
			  <div class="col-sm-4" ng-repeat="key in keys">
					<br /><input ng-model="visualisation[key]" class="form-control" type="text" placeholder="{{key | ucfirst}}" >
				</div>	
				</div>
				<div class="row">
				<br /><center><input type="submit" value="Ajouter cette donnée" class="btn btn-info" ng-click="updateData()" /></center>
				</div>
				</div>
			</div>
			</form><br />
		</div>